.gen-req {
    position: relative;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.form-title {
    text-align: center;
}
.form {
    margin-top: 4rem;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 15px;
}
.input {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.input .button {
    font-size: 1.5rem;
    height: 3rem;
    border: none;
    background-color: var(--color-orange);
    border-radius: 10px;
    color: var(--color-white);
    cursor: pointer;
}
.button:hover {
    opacity: 0.9;
}
.input input {
    font-size: 1.2rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    outline: none;
    padding: 2px;
}
.input textarea {
    font-size: 1.2rem;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    padding: 2px;
    scrollbar-width: none;
    margin-top: 1rem;
}
.input textarea:focus {
    border-color: var(--color-orange);
}
.input input:focus{
    border-color: var(--color-orange);
}
.select {
    margin-top: 1rem;
    font-size: 1.2rem;
    border: 1.5px solid var(--color-dark);
    outline: none;
    padding: 2px;
}
