.navbar {
    display: flex;
    height: 4.2rem;
    background-color: var(--color-orange);
    color: var(--color-white);
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.links {
    height: 100%;
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link:hover {
    background-color: var(--color-dark);
}
.link:active {
    background-color: var(--color-dark);
}

.links-logout {
    background-color: var(--color-dark);
    height: 3.8rem;
    border-radius: 50%;
    width: 18%;
    margin: 2.5px 10px;
}
.link-logout {
    border-radius: 50%;
    width: 18%;
}
.links-logout:hover {
    opacity: 0.9;
}
.link {
    cursor: pointer;
    color: var(--color-white);
    text-decoration: none;
    height: 100%;
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}