.register {
    background-color: var(--color-dark);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    background-color: var(--color-white);
    color: var(--color-orange);
    padding: 2rem;
    width: 400px;
    border-radius: 8px;
}
.register-form h1 {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}
.input-field {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.input-field input {
    padding: 0.4rem;
    margin-top: 0.6rem;
    background-color: var(--color-white);
    border: 1px solid #ccc;
    outline: none;
}
.input-field select {
    font-size: 0.9rem;
    padding: 0.4rem;
    margin-top: 0.6rem;
    background-color: var(--color-white);
    border: 1px solid #ccc;
    outline: none;
}
.input-field input:focus {
    border-color: var(--color-orange);
}

.register-button {
    text-align: center;
    width: 100%;
    height: 3rem;
    background-color: var(--color-orange);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.register-button:hover {
    opacity: 0.9;
}