.request {
    position: relative;
}
.request-approval {
    position: absolute;
    top: 4.2rem;
}
.req {
    border-bottom: 1px solid black;
}
.req-title {
    font-size: 1.5rem;
    margin: 8px 0px;
}
.req-det {
    
    margin: 8px 0px;
}
.req-det span{
    font-weight: bolder;
}
.buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.button {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 8px;
}
.accept {
    background-color: green;
    opacity: 0.6;

}
.reject {
    background-color: red;
    opacity: 0.6;
}
